# Шаблоны игнорирования в git
# https://www.atlassian.com/ru/git/tutorials/saving-changes/gitignore#git-ignore-patterns
#

build_*/
**/lib/
.vscode/
**/build/
yandex_data_structure/05_ctrlx_ctrlv_2/

*.exe
*.ii
*.s
*.o